body {
  background-color: #21033c !important;
  color: white !important;
}

.container {
  margin-top: 100px;
}

.row {
  background-color: dimgray;
  border-radius: 10px;
  margin-bottom: 20px;
}

.planet {
  height: 150px;
  width: 150px;
}

ul {
  list-style: none;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

nav > ul > li {
  padding-left: 10px;
}

.info {
  margin-left: 10px;
}

.col-5 {
  background-color: grey;
  padding-top: 10px;
  border-radius: 10px;
}

.col-5 li {
  border-bottom: 1px solid honeydew;
}

ul > li:hover {
  color: gold;
  cursor: pointer;
}

.person {
  height: 35%;
  width: 35%;
}